<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="static/echarts.min.js"></script>
    <title>Stat poputaltion</title>
</head>
<body>
    <div class="">
        <div class=" container">
            <h1>Statistique de la populations de Cote D'ivoir</h1>
            <hr>
        </div>
        <div class="row container">
            <div class="col-md-8">
                <div id="mainlong" style="width:100%; height:400px;"></div>
            </div>
            <div class="col-md-4 mt-4">
                <h1>Statistique </h1>
                    <div class="mt-4">
                            <table class="table table-striped">
                                    
                                    <tbody>
                                        
                                        <tr>
                                        <th scope="row">Min</th>
                                        <td>gagou</td>
                                        <td>Soit 2%</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Moy</th>
                                            <td class="text-center">
                                                34434
                                            </td>
                                        
                                            
                                        </tr>
                                        <tr>
                                    
                                        </tr>
                                    </tbody>
                                    </table>
                    </div>
            </div>
            
        </div>
    </div>
</body>
<script>
    var mypieLang = echarts.init(document.getElementById('mainlong'));

    optionLang = {
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [120, 200, 150, 80, 70, 110, 130],
            type: 'bar'
        }]
    };

    mypieLang.setOption(optionLang);

</script>
</html>