<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="static/echarts.min.js"></script>
    <title>Stat poputaltion</title>
</head>
<body>
    <div class="container ">
        
        <h1 class="text-center jumbotron">
            Statistique de la populations de Cote D'ivoir
        </h1>
        <div class="contaiter">
            <div class="row">
                <div class="col-md-6">
                        <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">Populations</th>
                                    <th scope="col">%Habidant </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in allinfo %}
                                    <tr>
                                    <th scope="row">{{ p.nom }}</th>
                                    <td>{{ p.nombreHabitant }}</td>
                                   
                                    </tr>
                                 
                                    {% endfor %}
                                </tbody>
                                </table>
                </div>
                <div class="col-md-6">
                        <div id="mainlong" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script type="text/javascript">
    // based on prepared DOM, initialize echarts instance
    var mypieLang = echarts.init(document.getElementById('mainlong'));

    // specify chart configuration item and data
    optionLang = {
        title : {
            text: 'population  ',
            subtext: 'cote d\'ivoire',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: [{% for items in allinfo %} '{{ items.nom }}',{% endfor %}]
        },
        series : [
            {
                name: 'Populations',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {% for item in allinfo %}
                    {value:{{ item.nombreHabitant }}, name:'{{ item.nom }}'},
                    {% endfor %}
                    
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    //option 


   
   

    // use configuration item and data specified to show chart
    mypieLang.setOption(optionLang);
</script>
</html>